<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cuentos Realistas</title>
            <link rel="stylesheet" href="estilos/estilos8.css">
        </head>

        <body>

            <header>

                <h1> Cuentos Realistas </h1>

                <h2> 
                    
                    <strong> La historia de un caballo </strong>
                
                </h2>

            </header>

            <aside class="Imagen">

                    <img src="img/caballo.jpg"></img>

                <div>

                    <p>

                        El cielo parecía estar cada vez más alto, la aurora cada vez más extendida, la plata mate del rocío cada vez más 
                        blanca y la hoz de la luna cada vez más débil. El bosque se hacía más sonoro, la gente comenzaba a levantarse, y 
                        en la cuadra de la casa señorial se oían cada vez con más frecuencia los resoplidos, los rumores de la paja y hasta 
                        los relinchos enfadados y estridentes de los caballos que se agolpaban enardeciéndose.
                        —¡Oh! ¡Calma! ¡Qué hambre tienen!—dijo el viejo pastor de la caballada abriendo el portón con un chirrido—. 
                        ¿Adónde vas?—amenazó a una yegua que hizo ademán de salir. Néster, el pastor de los caballos, llevaba puesta una
                        casaca atada a la cintura con una correa de hebilla, un látigo cruzado en bandolera y, en el cinturón, un pan 
                        envuelto en un trapo. Tenía en las manos una silla de montar y una brida. Los caballos ni se asustaron ni se 
                        ofendieron por el tono burlón del pastor, fingieron que les daba igual y, sin prisa ninguna, se alejaron de la 
                        puerta; sólo una vieja yegua parda de larga crin bajó las orejas y, con un movimiento brusco, le dio la espalda.
                    
                    </p>

                </div>

                    <p> 

                        Entretanto, una yegua joven que estaba detrás, y a la que todo esto no concernía, relinchó y dio un empujón con la 
                        grupa al caballo que tenía más cerca.
                        —¡Eh!—gritó el pastor aún más alto y con voz aún más amenazante, y se encaminó a un rincón de la cuadra. De todos 
                        los caballos que se encontraban en ese recinto (y eran cerca de un centenar), el que menos impaciencia mostraba 
                        era un pío castrado que estaba solo, alejado, en una esquina bajo el alero y que, con los ojos entornados, lamía
                        un poste del cobertizo. Quién sabe qué gusto encontraría en eso el pío castrado, pero, mientras lo lengüeteaba, 
                        su expresión era en extremo seria y pensativa.
                        —¡Mimado!—le dijo con el mismo tono el pastor, acercándose hasta él y poniendo sobre un montón de estiércol 
                        que había ahí al lado la silla y el sudadero lustroso por el roce. El pío castrado dejó de lamer el poste y, 
                        sin moverse, estuvo largo rato mirando a Néster. No sonrió, no se enfadó, no frunció el ceño, sólo aspiró muy 
                        hondo, dejó escapar un lastimero suspiro y luego se volvió hacia él. El pastor  le rodeó el cuello con el 
                        brazo y le colocó la brida.
                        —¿Por qué suspiras?—dijo Néster. El castrado movió la cola, como queriendo decir: «Por nada, Néster; así, 
                        sólo porque sí». Néster le puso el sudadero y la silla, y el castrado bajó las orejas expresando, seguramente, 
                        su descontento, pero lo único que consiguió fue que lo trataran de «haragán» y que le apretaran la cincha. 
                        Entonces el castrado se infló, pero le metieron un dedo en la boca y le dieron un rodillazo en el vientre para 
                        que soltara el aire. Pese a todo, cuando le apretaron la sobrecincha bajó de nuevo las orejas e incluso se 
                        volvió para ver. Sabía que aquello no ayudaría, pero de todas formas consideró necesario dar a entender que le 
                        resultaba desagradable y que siempre lo demostraría. Cuando estuvo ensillado, adelantó su hinchada pata derecha 
                        y se puso a masticar el bocado, movido quién sabe por qué consideraciones, puesto que ya había tenido tiempo de 
                        darse cuenta de que los bocados no tienen ni pueden tener ningún sabor. Néstor puso el pie en el estribo y se 
                        subió en el castrado. Desenrolló el látigo, liberó de debajo de sus rodillas la casaca, que se había quedado 
                        atascada, se sentó en la silla a la manera de los cocheros, los cazadores y los caballerizos, y tiró de las 
                        riendas. El castrado levantó la cabeza, anunciando que estaba dispuesto a ir adonde le ordenaran, pero no se 
                        movió. Él sabía que antes de partir todavía habría algunos gritos, que el hombre que iba sentado encima suyo daría
                        órdenes a Vaska, el otro pastor, y a los caballos. Y, en efecto, Néster comenzó a gritar: «¡Vaska!
                        ¡Eh, Vaska! ¿Has dejado salir a las yeguas? Pero
                        ¿qué haces, demonio? ¡Hombre! Estás dormido. Abre, deja a las yeguas que salgan», etcétera. El portón rechinó. 
                        Molesto y amodorrado, sujetando a un caballo por la brida, Vaska estaba de pie junto a la puerta dando paso a los 
                        caballos. Uno a uno, pisando con cuidado las briznas de paja y olisqueándolas, iban pasando: yeguas jóvenes, 
                        potrillos de crines esquiladas, mamantones y yeguas preñadas que, con cuidado y de una en una, deslizaban sus 
                        abultados vientres por la puerta. Las yeguas jóvenes a veces se apretujaban dos o hasta tres, poniéndose mutuamente
                        la cabeza en el lomo y, al llegar a la puerta, apresuraban el paso, por lo que cada vez recibían las palabras
                        injuriosas de los caballerizos.      
                   
                    </p>

                <div class="parrafoTercero">

                    <p>

                        En otra aspecto las cuatro patas parecían desmesuradamente grandes a causa de la flacura del cuerpo. Las costillas, 
                        aunque fuertes, estaban tan separadas y tan salidas que la piel parecía adherida a los intersticios que las separaban.
                        La cruz y el lomo estaban surcados por las marcas de antiguas tundas, y en la grupa tenía una llaga reciente que se 
                        había inflamado y supuraba. El negro maslo de la cola, en el que se marcaba cada vértebra, se mostraba largo y casi 
                        pelado. Sobre la grupa color castaño, cerca de la cola, se veía una herida grande como la palma de una mano, cubierta 
                        de pelos blancos y que parecía un mordisco. Otra herida, ya cicatrizada, lucía en una de las escápulas anteriores. Las 
                        corvas traseras y la cola estaban sucias debido a los frecuentes trastornos estomacales del animal.El pelo de todo el 
                        cuerpo, aunque corto, era hirsuto. Y, sin embargo, pese a la repugnante vejez de este caballo, al verlo, uno 
                        involuntariamente pensaba—y un conocedor sin duda de inmediato habría afirmado—que en sus buenos tiempos aquél debió 
                        haber sido un ejemplar espléndido. Un conocedor incluso habría dicho que en Rusia sólo hay una raza capaz de dar una 
                        osamenta tan ancha, unos omóplatos tan grandes, unos cascos tan fuertes, una delicadeza tan destacada en los huesos de 
                        las patas, un cuello tan bien plantado y, sobre todo, un cráneo como ése, unos ojos tan grandes, negros y luminosos, 
                        esa tersura del pelo y de la piel y esos nudos de venas cerca de la cabeza y del cuello, signo indiscutible de buena 
                        raza. Sí, efectivamente había algo majestuoso en la figura de este caballo, y en la terrible combinación de los 
                        repelentes signos de decrepitud, que el pelaje manchado acentuaba, con la actitud serena y segura de un animal 
                        consciente de su fuerza y su belleza. Como un vestigio viviente se alzaba solitario en medio de la pradera cubierta 
                        de rocío, mientras no lejos de él se oían las pisadas, los resoplidos, los relinchos jóvenes, el alboroto de la yeguada 
                        dispersa. El castrado era alto, medía no menos de dos arshinas y tres vershoks. Su pelaje era pío negro, o más bien 
                        había sido pío negro, porque ahora las manchas negras se habían vuelto de un color bayo percudido. Tenía tres manchas; 
                        una nacía en un lado del hocico y se extendía hasta la mitad del cuello. La larga crin envedijada y revuelta con bardana 
                        era blanca por aquí y castaña por allá. Otra de las manchas se desparramaba a todo lo largo del flanco derecho y llegaba 
                        hasta la mitad del vientre. La tercera estaba en la grupa y cubría la parte alta de la cola y la mitad de las ancas. El 
                        resto de la cola era blancuzca, mezclada. Su cabeza grande y huesuda, de cuencas hundidas, y su belfo, antaño negro y hoy
                        caído y agrietado desde quién sabe cuándo, colgaban pesadamente, como si fueran de madera, del vencido de tan flaco 
                        cuello. Detrás del caído belfo se podía vislumbrar la lengua negruzca, mordisqueada en uno de sus lados, y los restos 
                        amarillentos y podridos de los dientes inferiores. Las orejas, una de las cuales estaba mocha, caían a los lados y sólo 
                        de vez en cuando se movían perezosamente para ahuyentar a las moscas que se le pegaban. Un mechón aún largo del copete 
                        colgaba detrás de una de las orejas. La frente descubierta era áspera y estaba hundida. La piel colgaba formando bolsas 
                        encima de las amplias quijadas. Sobre el cuello y la cara, gruesas venas dibujaban nudos que se estremecían y temblaban 
                        cada vez que una mosca lo rozaba.
                    
                    </p>

                </div>

            </aside>

            <aside class="Contenedor">

                <h2>

                    <strong> Los fantasmas </strong>

                </h2>

                    <img src="img/fantasmas.jpg"></img>

                <div>

                    <p> 

                        La noche era muy espesa y Clotilde no sabía cuánto tiempo más resistiría. Su padre caminaba a paso apresurado, escapando 
                        de los fantasmas que susurraban palabras inconexas en la oscuridad recién abandonada. Clotilde iba en silencio, sabía que 
                        a su padre le molestaba que le hablaran mientras caminaba. Cuando era pequeña pensaba que era porque le gustaba estar 
                        atento por si surgía cualquier peligro; ahora sabía que su padre le temía a las palabras más que a los fantasmas.Los días 
                        eran idénticos entre sí. En breve llegarían a casa, comerían algo que hubiera quedado de la tarde anterior y se irían a 
                        dormir; para levantarse nuevamente al día siguiente, ir hacia el bosque a cortar leña, andando ese mismo camino, también 
                        a oscuras, y regresar como ahora lo hacían Clotilde estaba cansada de esa rutina, pero se alegraba de que su madre hubiera
                        muerto; cuando imaginaba que antes su padre hacía ese camino solo, sin nadie que le cubriera las espaldas, un miedo atroz 
                        se apoderaba de ella, como si en el fondo sus huesos fueran de otro.
                    
                    </p>

                </div>

                    <p>

                        Cuando al día siguiente caminaban rumbo al bosque, Clotilde presentía que algo no iba bien: su padre se había levantado
                        sumamente alegre y no paraba de contarle cosas interesantes y de reír. El camino al bosque no fue silencioso; la oscuridad 
                        los abrazaba pero la cercanía del amanecer calmaba los nervios de la joven. Cuando llegaron se pusieron a trabajar. Su 
                        padre sacó la motosierra y ella comenzó a juntar los trozos de árbol que él rebanaba, y los iba apilando en una gran 
                        montaña. Al mediodía pararon para almorzar; llegó el enorme camión y recogió la leña. Comieron en silencio, descansaron un 
                        poco y volvieron al trabajo: a la devastadora rutina de cortar y recoger. ¿Cuánto tiempo llevaba su padre haciendo aquello?
                        ¿No le aburría tanta quietud? No tuvo tiempo de responderse; ahora su padre cantaba: ¡estaba tan raro! La joven canturreó 
                        con él.Nuevamente se puso el sol y volvieron a casa: el mismo camino denso y oscuro de cada día. Su padre seguía hablando 
                        mucho, hasta que se calló súbitamente. 
                   
                    </p>

                <div class="parrafoSexto">
            
                    <p>

                        Llegaron a casa. Ella se fue a dormir, estaba más cansada que de costumbre: su padre desapareció en la oscuridad. Cuando 
                        Clotilde despertó era cerca del mediodía. ¡Nos hemos dormido! Corrió hacia el dormitorio de su padre, pero estaba vacío. 
                        El frío de la casa le dio hambre. No había nada que llevar a la boca, más que una corteza de pan duro y un dulce ya 
                        bastante seco. Lo engulló sin pensarlo y se quedó esperando. Cuando el sol volvió a caer, salió de la casa, y estuvo 
                        buscando a su padre durante horas. Y volvió a quedarse dormida. Eso era lo último que persistía en su memoria sobre lo 
                        acontecido aquella noche fatal. Después, nuevamente la oscuridad espesa y ella corriendo detrás de su padre, pero ya los
                        fantasmas lo habían atrapado para siempre. Ahora sabía por qué su padre le temía a las palabras, qué veía cuando se pasaba
                        horas en constante silencio. Ahora sabía que los últimos recuerdos que tienes de alguien son los que te acompañan para 
                        siempre.
                   
                    </p>

                </div>

            </aside>


            <footer>

                <a href="/cuentosInfantiles">
                    
                    <button> Regreso de página </button>

                </a>

                <div>

                    <a href="/">

                        <button> Regresar pagina principal </button>

                    </a>

                </div>

            </footer>


        </body>

</html>
       