<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cuentos de Misterio</title>
            <link rel="stylesheet" href="estilos/estilos9.css">
        </head>

        <body>

            <header>

                <h1> Cuentos de Misterio </h1>

                <h2>

                    <strong> El misterio del mono desaparecido </strong>

                </h2>

            </header>

            <aside class="Imagen">

                    <img src="img/mono.jpg"></img>

                <div>

                    <p>

                        Había una vez un mono y un gorila que eran vecinos. El mono se pasaba el día molestando el gorila.
                        Le tiraba piedras, le robaba la comida y le despertaba de la siesta con grandes gritos. Pero el 
                        gorila se hacía el loco y no atendía al mono.
                        —Un día se aburrirá de mí y dejará de molestarme —decía el gorila. Pero el mono era muy terco y 
                        seguía insistiendo. El gorila empezó a perder la paciencia. Así que una mañana se fue a dar un 
                        paseo muy temprano, antes de que el mono se diera cuenta. Cuando el mono se despertó y no vio al
                        gorila se fue a buscarlo. Al caer la tarde el gorila regresó. Cuando vio que el mono no estaba se 
                        alegró mucho.
                        —Por fin hoy podré cenar y dormir tranquilo —pensó el gorila. Pero cuando a la mañana siguiente el 
                        gorila se despertó y no vio al mono empezó a preocuparse.
                        —¿Dónde estará el mono? —se preguntó el gorila. El gorila preguntó a los demás vecinos si habían 
                        visto al mono, pero ninguno sabía nada de él.
                        —Ayer por la mañana se marchó y no hemos vuelto a saber nada de él —dijo la ardilla.
                    
                    </p>

                </div>

                    <p> 

                        El gorila se pasó varios días preguntando por los alrededores. En ningún lugar encontró una pista.
                        El gorila estaba cansado. Ya estaba a punto de volver a casa cuando escuchó un sonido que le 
                        resultaba familiar. Era un chillido agudo y molesto, aunque había algo extraño que le impedía 
                        reconocerlo. Tuvo que pasar un rato escuchando cuando cayó en la cuenta.
                        ¡Era el mono!
                        —¡Mono! ¡Mono! ¿Dónde estás? —gritó el gorila.
                        —¡Gorila! ¿Eres tú? ¡Sí, soy el mono! ¡Me he caído en un agujero! —respondió. El gorila empezó a
                        buscar, pero no veía nada. Hasta que, de pronto, pisó sobre un agujero y se quedó con una pata 
                        dentro.
                        —¡Estoy aquí! —gritó el mono.
                    
                    </p>

                <div class="parrafoTercero">

                    <p>

                        El gorila sacó la pata y le dijo:
                        —¡Voy a buscar algo para sacarte!
                        Al rato el gorila volvió con una cuerda y se la lanzó al mono.
                        —Agárrate, que voy a tirar de la cuerda —dijo el gorila. Cuando el mono consiguió salir le dio 
                        un gran abrazo al gorila.
                        —¡Gracias! ¡Gracias! —dijo el mono.
                        —Vale, vale, no hay de qué —dijo el gorila.
                        —¿Por qué has venido a por mí, si solo son un incordio para ti? —preguntó el mono.
                        —Somos vecinos ¿no? —dijo el gorila—.
                        —Pensé que me odiabas —dijo el mono. El gorila miró al mono y le dijo:
                        —No te odio, pero como vuelvas a molestarme te traigo otra vez aquí y te dejo ahí uno par de 
                        días para que te lo pienses. El mono se quedó muy serio.
                        —Vamos, es una broma —dijo el gorila—. Volvamos a casa. Desde ese día el mono y el gorila se 
                        hicieron inseparables.
                    
                    </p>

                </div>

            </aside>

            <aside class="Contenedor">

                <h2>

                    <strong> La chica del tocadiscos </strong>

                </h2>

                    <img src="img/tocadiscos.jpg"></img>

                <div>

                    <p> 

                        Una tarde de tormenta, Lía estaba sola en casa porque sus padres habían salido a comprar sus 
                        regalos de cumpleaños que, lógicamente, ella no podía ver antes del día de la fiesta. Como ya 
                        tenía 13 años y era muy responsable, sus padres no tenían problemas en dejarla sola en casa.
                        -No abras la puerta, espera a que lleguemos nosotros- le decían siempre. Lía, al rato de irse
                        sus padres a la calle, encendió la tele. No tenía intención de ver nada pero al menos así le 
                        haría compañía, pensó. Cogió un cómic y se puso a leer con atención. De repente, un grito le 
                        hizo desviar la mirada hacia el televisor. Estaban echando una peli en la que una joven
                        corría despavorida delante de un vampiro. Al momento, sonó el reloj. Eran las 7 de la tarde y
                        Lía dio un salto en el sofá. Sus padres seguían sin llegar. No le asustaban las películas de 
                        miedo pero, entre que estaba sola en casa y fuera estaba lloviendo a cántaros, prefirió 
                        apagar la tele y poner algo de música en el viejo tocadiscos de su bisabuela. Al rato, la 
                        aguja se paró sola y, en vez de escucharse el disco que había puesto, se oyeron unos gritos. 
                   
                    </p>
                    
                </div>

                    <p>

                        Eran los de la misma chica que había visto en la película. Asustada, se metió en la cama, no 
                        sin antes llamar a sus padres para que se dieran prisa en volver. Cuando llegaron, Lía ya 
                        estaba dormida. Por la mañana, les contó todo lo que había. Su madre le dijo:
                        -Te he dicho muchas veces que no tomes refrescos con cafeína entre semana porque luego no duermes.
                        -Que no mamá, que era la misma chica de la peli…. ¡Estaba en el tocadiscos de la bisabuela!
                        Como no le creían, la chica decidió investigar por su cuenta. Su bisabuela había sido una cantante 
                        de cabaret muy famosa en los años 50 y un montón de libros y revistas hablaban de ella.
                    
                    </p>

                <div class="parrafoSexto">
            
                    <p>

                        Así que se fue a la biblioteca a investigar. En una revLa chica del tocadiscosista escondida al 
                        fondo de una estantería polvorienta encontró un reportaje en el que se hablaba de su bisabuela como 
                        “La chica del tocadiscos”. La llamaban así porque había sido la primera persona de su pueblo en 
                        tener uno. Había ahorrado durante todo el verano su sueldo como cantante para poder hacerse con uno
                        y escuchar sus discos favoritos. Tristemente, una tarde se lo robaron y desde entonces siempre lo 
                        había estado buscando. Por las noches, que era cuando escuchaba música, lloraba y lloraba. Pronto 
                        Lía comprendió que esos lamentos de la película eran en realidad los de “La chica del tocadiscos”.
                    
                    </p>

                </div>

            </aside>


            <footer>

                <a href="/cuentosInfantiles">

                    <button> Regreso de página </button>

                </a>

                <div> 

                    <a href="/">

                        <button> Regresar pagina principal </button>

                    </a>

                </div>

            </footer>


        </body>

</html>