<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cuentos Infantiles</title>
      <link rel="stylesheet" href="estilos/estilos5.css">
    <head>

    <body>

        <header>

          <h1> Tipos de Cuentos </h1>

        </header>

      <div class="Flexbox">

            <div>

              <a href="/cuentosPopulares">

                <h2> Cuentos populares </h2>

              </a>

            </div>

            <div>

              <a href="/cuentosFantasticosyDeHadas">

                <h2> fant치sticos y de hadas </h2>

              </a>

            </div>

            <div>
              
              <a href="/cuentosRealistas">

                <h2> Cuentos Realistas </h2>

              </a>

            </div>
            
            <div>

              <a href="/cuentosDEMisterio">

                <h2> Cuentos de misterio </h2>

              </a>

            </div>

            <div>

              <a href="/cuentosHistoricos">

                <h2> Cuentos hist칩ricos </h2>

              </a>

            </div>

            <div>
              
              <a href="/cuentosComicos">

                <h2> Cuentos c칩micos </h2>

              </a>

            </div>

            <div>

              <a href="/cuentosDeTerror">

                <h2> Cuentos de Terror </h2>

              </a>

            </div>

      </div>

      <footer>

        <a href="/listaNinos">
        
          <button> Regreso de p치gina </button>
        
        </a>

        <div>

          <a href="/">

            <button> Regresar pagina principal </button>
            
          </a>

        </div>

      </footer>

    </body>

</html>