<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cuentos Cómicos</title>
            <link rel="stylesheet" href="estilos/estilos11.css">
        </head>

        <body>

            <header>

                <h1> Cuentos Cómicos </h1>
                
                <h2>

                    <strong> Blanca, la vaca sin manchas </strong>
                    
                </h2>

            </header>

            <aside class="Imagen">

                    <img src="img/vaca.jpg"></img>

                <div>

                    <p>

                        Margarita era una vaca que vivía en una granja. Un día dio a luz a una ternera muy bonita, 
                        totalmente blanca, que solo tenía una mancha en la cabeza. Cuando el granjero la vio 
                        decidió que se llamaría Blanca. Margarita llevaba mucho tiempo en la granja y había tenido 
                        otros tres terneros antes que Blanca, pero sabía que sin duda, ella sería su preferida. No
                        porque Blanca fuese diferente al resto de los terneros, sino porque Blanca no paraba, 
                        andaba prado arriba prado abajo, en busca de los mejores pastos. Esto era sin duda herencia 
                        de la vaca Leopolda, su abuela, que tenía un instinto natural para saber qué pastos había 
                        que comer. Los demás terneros huían de Blanca, no podían entender que en ese cuerpo tan 
                        grande, no hubiera una sola mancha, 
                        - Una vaca sin manchas, es como un prado sin flores 
                        - decían para justificar que no quieran acercarse a ella. Aunque Blanca, que era una vaca 
                        muy lista, lo sabía, le quitaba importancia y jugaba a acercarse a ellos cuando estaban 
                        despistados.

                    </p>

                </div>

                    <p> 

                        Los otros terneros se asustaban pero ella se reía mucho para sus adentros, porque el 
                        sentido del humor era otra peculiaridad que le había dejado su abuela, la vaca Leopolda. 
                        Pasó el frío invierno y apenas quedaban pastos. El granjero no sabía que haría con sus 
                        vacas si no tenía qué darles de comer. Además el pobre estaba preocupado porque era mayor
                        y no conocía otro oficio.
                        - Hasta que no pase la feria del ganado, no tomaré una decisión, dijo convencido. El 
                        granjero llevó a Blanca a la feria porque era la que más litros de leche daba y sobre todo 
                        porque la suya era la leche de mejor sabor. 

                    </p>

                <div class="parrafoTercero">

                    <p>

                        Y cual fue su sorpresa cuando resultó que Blanca se convirtió en la estrella de la feria. 
                        Todos los niños querían hacerse fotos con ella y hasta le ofrecieron un montón de dinero 
                        por venderla. Pero el granjero decidió que no quería desprenderse de Blanca, así que lo 
                        que hizo fue permitir que la apadrinaran. La feria fue todo un éxito y Blanca regresó a su
                        granja convertida en la estrella de la feria de ganado de la comarca, con la cabeza bien 
                        alta, como su madre Margarita le dijo que había que caminar, porque ella no es diferente, 
                        sino ÚNICA.  

                    </p>

                </div>

            </aside>

            <aside class="Contenedor">

                <h2>

                    <strong> El gusanito Pepito </strong>

                </h2>

                    <img src="img/gusano.jpg"></img>

                <div>

                    <p> 

                        Érase una vez un gusanito llamado Pepito. Pepito, que era muy chiquitín, vivía en un bonito 
                        jardín, muy verde, y con muchas flores. Hasta tenía su propia laguna, en la que vivían 
                        muchos peces de colores. Pepito, que siempre había sido muy curioso, quería atravesar la 
                        laguna para llegar al otro lado del jardín, donde se decía que había un gran tesoro. Un día, 
                        cuando Pepito reunió unas cuantas hojas de morera y dos miguitas de pan, cogió su mejor 
                        gorra, una sombrillita de margarita y se encaminó a recorrer su gran aventura. El día era 
                        espléndido, el sol brillaba, el cielo estaba muy azul y corría una suave brisa muy leve que 
                        a Pepito le producía una agradable sensación. Por el camino, iba cantando cuando, de pronto,
                        se encontró con una mariquita que estaba llorando en una piedrecita. 
                        ¿Qué te pasa, amiga mariquita?, preguntó Pepito. Pues que he perdido uno de mis puntitos 
                        negros, respondió la mariquita. 
                        ¡Qué cosa tan grave! 
                        Pero no te preocupes, yo te ayudaré. Juntos, se pusieron a buscar el puntito negro que se 
                        había perdido. 

                    </p>

                </div>

                    <p>

                        Buscaron bajo las piedras, por encima de las flores, detrás de los árboles, pero nada, no 
                        estaba por ningún sitio. De pronto, mientras caminaban, Pepito vio algo en el pie de su 
                        amiguita. Acércate, Mariquita, que tienes algo en el pie. Entonces, al observar el pie, se 
                        fijaron en que el puntito estaba ahí, se había caído y, sin querer, la mariquita la llevaba 
                        pegada en el pie. Muchas gracias. Como regalo por tu ayuda te daré esta cuerda mágica que 
                        nunca se acaba. Pepito, muy feliz, la cogió y prosiguió su camino. Iba saltando cuando, de 
                        nuevo, encontró otro amiguito llorando. Esta vez, era un saltamontes tristón. 
                        ¿Qué te pasa, amigo saltamontes?
                        Pues que se me ha roto la cuerda de mi violín. No te preocupes, amigo mío, pues aquí llevo 
                        cuerda para arreglarlo. Tan pronto como lo dijo, sacó de su mochila un trozo de cuerda 
                        mágica, y arregló el violín. Muchas gracias, Pepito. Ahora puedo tocar mi violín horas y 
                        horas y, como recompensa, te daré ese trozo de tela mágico al que solo tienes que pedir en 
                        qué quieres que se convierta, y así lo hará. Pepito, siguió su camino, muy feliz, porque 
                        había podido ayudar a dos bichitos. De nuevo, otro bichito lloraba y lloraba, esta vez era 
                        una abejita. 
                        ¿Qué te pasa, amiga abeja? 
                        He perdido mi sombrerito. Tranquila, amiga, aquí tengo tela mágica y podré hacerte un 
                        sombrero nuevo. Pepito sacó un trozo de su tela y le pidió que se convirtiera en el 
                        sombrerito más bello del mundo, y así lo hizo. Le dio el sombrerito a su amiguita nueva, y 
                        esta, de la felicidad, le hizo un regalo. Aquí tienes un silbato mágico. Con él podrás 
                        llamar a cualquier insecto que esté cerca tuyo y, tan solo con mostrárselo, te ayudará sin 
                        dudarlo. Pepito prosiguió su camino, y al fin, llegó al borde de la laguna. La miró, y se 
                        dio cuenta de lo profunda y peligrosa que era y, además, no sabía cómo podría atravesarla.
                        Pensó y pensó, y de pronto llegó la idea.

                    </p>

                <div class="parrafoSexto">
            
                    <p>

                        Ya sé, con mi trozo de tela, haré un barquito, con el que podré pasar, pero 
                        ¿cómo podré llegar al otro lado?, si no hay nada de viento... 
                        Tras pensar y pensar y pensar, recordó lo que su amiga la abeja le había contado. El 
                        silbato, ¡claro!
                        ¿Cómo no me había acordado? 
                        Cogió su silbato y lo sopló lo más fuerte que pudo. Al pronto, apareció una gran mariposa, 
                        la más bonita que jamás había visto. Dime, amigo gusanito, ¿qué te sucede?
                        Pues que no sé cómo cruzar el río. Yo te ayudaré. Déjame un trozo de cuerda y yo tiraré de 
                        ti. Entonces, Pepito, cogió la cuerda que su amigo la mariquita le había regalado, se la 
                        dio a la mariposa y la agarró fuerte para que tirara de él y del barquito. En menos de 
                        media hora, Pepito ya había llegado al otro lado de la orilla. Por fin había llegado a su 
                        destino, el otro lado de la orilla, donde había escuchado que había un tesoro maravilloso. 
                        Anduvo y anduvo, siguiendo los pasos que marcaba el camino al tesoro, y por al fin llegó. 
                        Pero, ¿dónde está el tesoro? No hay monedas. Pepito miró a un lado y al otro, pero no las 
                        vio por ningún sitio. De pronto, se percató de que estaban sus nuevos amigos: la mariquita, 
                        el saltamontes, la abeja y la mariposa.
                        ¿Qué hacéis vosotros aquí, amigos míos?
                        Esperábamos que llegase nuestro nuevo amigo, un bichito al que no le importase pararse a 
                        ayudar a otro, aunque tuviera prisa por encontrar un tesoro, y al que no le importara 
                        hacerlo sin recibir nada a cambio. Pepito, se quedó pensativo, no sabía a quién podrían 
                        estar esperando. Y por fin ha llegado ese bichito, eres tú, Pepito. Pepito, se quedó 
                        boquiabierto, no se había dado cuenta de que con sus acciones, había sido amable con ellos,
                        era una cosa natural el ayudar. Como eres el bichito esperado, Pepito, queremos decirte que
                        el tesoro del que hablaban todos es la amistad y que, pase lo que pase, nunca perderá valor
                        ni se podrá vender o perder. Pepito se alegró muchísimo de haberles encontrado, ya que 
                        podría jugar y contar con ellos por siempre jamás, pues la amistad, es el mejor tesoro del 
                        mundo mundial.

                    </p>

                </div>

            </aside>


            <footer>
                
                <a href="/cuentosInfantiles">

                    <button> Regreso de página </button>

                </a>

                <div>

                    <a href="/">

                        <button> Regresar pagina principal </button>

                    </a>

                </div>

            </footer>


        </body>

</html>