<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cuentos Históricos</title>
            <link rel="stylesheet" href="estilos/estilos10.css">
        </head>

        <body>

            <header>

                <h1> Cuentos Históricos </h1>

                <h2>

                    <strong> Arturo y el pájaro de mal agüero </strong>

                </h2>

            </header>

            <aside class="Imagen">

                    <img src="img/pajaro.jpg"></img>

                <div>

                    <p>

                        Arturo participaba activamente en un debate que mantenían en clase sobre las fuentes de energía y su impacto 
                        en el medioambiente. Poco a poco la conversación fue subiendo de tono y Arturo, elevando la voz y con gran 
                        afectación, dijo:
                        —¡Esto será el fin de la especie humana!
                        Toda la clase se quedó en silencio. Pedro, desde la primera fila, le dijo:
                        —No seas pájaro de mal agüero, Arturo.
                        —¡Aquí el único pájaro eres tú! —contestó Arturo. Afortunadamente sonó el timbre y la cosa quedó ahí. Pero 
                        Arturo estaba preocupado, porque no sabía que era eso del pájaro de mal agüero. Cuando Arturo llegó a casa fue 
                        directamente a la cocina, donde sabía que encontraría a su abuelo preparando algo de comer.
                        —Abuelo ¿qué es un pájaro de mal agüero? —preguntó Arturo.
                        —Hola, nieto, buenas —dijo el abuelo—. Te veo preocupado. ¿Has visto un cuervo o qué?
                        —¿Qué dices de cuervos? Que no te enteras, abuelo —dijo Arturo—. Te pregunto por los pájaros de mal agüero.

                    </p>

                </div>

                    <p> 

                        Ay, Arturo, ten un poco de respeto, que parece que el que no se ha enterado eres tú —dijo el abuelo.
                        Perdona, abuelo, es que me he puesto muy nervioso —dijo Arturo—. En clase un compañero me ha dicho que no 
                        sea un pájaro de mal agüero, y no sé qué significa.
                        Arturo le contó cómo había pasado todo mientras su abuelo escuchaba con interés. Cuando el niño terminó, le dijo:
                        —A las personas negativas se les suele llamar así, pájaros de mal agüero. Es algo que viene de la antigua Roma, 
                        donde los adivinos, llamados augures, predecían el futuro mirando el vuelo de las aves. Se consideraban que el 
                        vuelo o incluso la presencia de algunos tipos de pájaros traían mal augurio, es decir, mala suerte.
                        —¡Wala, abuelo! ¡Cuánto sabes! —dijo Arturo.
                    
                    </p>

                <div class="parrafoTercero">

                    <p>

                        Por eso te pregunté antes si habías visto un cuervo, porque ese tipo de pájaro se consideraba, en determinadas 
                        circunstancias, un pájaro de mal agüero. Arturo y el pájaro de mal agüero—¿Y es cierto? —preguntó Arturo—. 
                        ¿Se puede predecir el futuro mirando el vuelo de los pájaros?
                        —Eso son mitos y leyendas, Arturo —dijo el abuelo—. En todas las culturas hay creencias de ese tipo, 
                        supersticiones y métodos de adivinación, incluso en la actualidad. Arturo y su abuelo se quedaron charlando 
                        sobre el tema animadamente mientras preparaban algo de comer. Después de un rato, Arturo dijo:
                        —Hay que ver lo mucho que disfruto cuando hablo contigo, abuelo.
                        —Y yo también, Arturo; yo también —respondió el abuelo.
                    
                    </p>

                </div>

            </aside>

            <aside class="Contenedor">

                <h2>

                    <strong> El pequeño David y el gran Goliat </strong>

                </h2>
                
                    <img src="img/david.jpg"></img>

                <div>

                    <p>

                        Hace mucho tiempo, en el antiguo Reino de Israel, nació, David, el hijo pequeño de un pastor de Belén. David 
                        era un niño de familia humilde que ayudaba a su padre con las ovejas mientras sus hermanos mayores luchaban 
                        en el ejército del rey Saúl, primer rey de Israel, contra los filisteos. Los filisteos tenían aterrorizados 
                        a los soldados del rey Saúl, pues entre su filas había un guerrero de estatura descomunal llamado Goliat. 
                        Durante muchos días Goliat gritó a los israelitas que eligieran a un hombre que peleara con él.
                        -Que el más valiente de entre vosotros, israelitas, luche contra mí. Si él gana nosotros, los filisteos, 
                        seremos vuestros esclavos, pero si pierde, seréis vosotros, israelitas, quienes se sometan. Nadie quería 
                        luchar contra el gran Goliat, el guerrero más grande y temible de todos los tiempos. Todos los días el joven 
                        David llevaba comida a sus hermanos al campamento. Un día, David fue antes de lo habitual, por lo que 
                        escuchó la amenaza del Goliat.
                        -¿Qué es lo que pasa? ¿Por qué nadie quiere luchar? -preguntó David a sus hermanos.
                    
                    </p>
                    
                </div>

                    <p>
                        
                        Si nadie lo hace, entonces iré yo -dijo el joven David. Los hermanos de David se enfadaron muchísimo.
                        -La guerra no es cosa tuya, niño enclenque -le dijo el mayor de sus hermanos-. Tu lugar está junto a padre, 
                        cuidando ovejas.
                        -Yo derrotaré al gigante -insistió David. Algunos soldados que oyeron la conversación fueron corriendo a 
                        avisar al rey Saúl. El rey se acercó a ver a David y le dijo:
                        -Joven David, no puedes luchar contra Goliat. Eres pequeño y joven, y Goliat es un gran guerrero con 
                        experiencia.
                        -Seré pequeño, pero soy valiente -dijo David-. Yo maté un oso y un león que se llevaron las ovejas de mi 
                        padre. Acabaré con ese filisteo también. Dios me dará ayuda.
                        -Ve entonces -dijo el rey Saúl- y que Dios esté contigo.   David cogió cinco piedras de un río cercano y 
                        las metió en su morral, junto a su honda.
                    
                    </p>

                <div class="parrafoSexto">
            
                    <p>

                        Fue entonces hacia donde estaba Goliat y le dijo:
                        -El pequeño David y el gran GoliatGoliat, aceptó el desafío. Yo lucharé por mi pueblo.
                        Goliat se enojó mucho. No podía creer que el rey Saúl mandase a un joven y pequeño pastor a luchar. Pero, 
                        aún así, aceptó.
                        -Acabaré contigo en un abrir y cerrar de ojos, pequeña alimaña -bramó Goliat.
                        -Tú vienes a mí con una espada, una lanza y una jabalina, pero yo voy contra ti en nombre de Dios. Con su
                        ayuda te derribaré. Entonces, David cogió su honda, colocó una piedra y la lanzó contra Goliat. La piedra 
                        impactó en la frente del gigante con tanta fuerza y precisión que le hizo caer al suelo, derrotado. Así 
                        fue como el joven y valiente David liberó a los israelitas de los filisteos y dio una lección de valor, 
                        habilidad y fe a todo su pueblo.   
                    
                    </p>

                </div>

            </aside>


            <footer>

                <a href="/cuentosInfantiles">

                    <button> Regreso de página </button>

                </a>

                <div>

                    <a href="/">

                        <button> Regresar pagina principal </button>

                    </a>

                </div>

            </footer>


        </body>

</html>