<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Fábulas</title>
        </head>

        <body>

            <section class="listaAdolescentes">

                <ul>
                    
                    <li>

                        <h2> Fábulas de animales </h2>

                    </li>

                    <li>

                        <h2> Fábulas mitológicas </h2>

                    </li>

                    <li>

                        <h2> Fábulas del reino vegetal </h2>

                    </li>

                    <li>

                        <h2> De seres inanimados </h2>

                    </li>

                    <li>

                        <h2> Fábulas agonales </h2>

                    </li>

                    <li>

                        <h2> Fábulas etiológicas </h2>

                    </li>

                </ul>

            </section>

        </body>

</html>