<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Lista Adolescentes</title>
            <link rel="stylesheet" href="estilos/estilos3.css">
        </head>

        <body id="Fondo">

            <div class="contenedor" id="Contenedor">

                <header>

                    <h1> Lista Adolescentes </h1>

                </header>

                <div class="Flexbox">

                    <div>

                        <a href="/leyendas"> Leyendas </a>

                    </div>

                    <div>

                        <a href="/obrasLiterarias"> Obras Literarias </a>

                    </div>

                </div>


                <footer>

                    <a href="/">

                     <button> Regreso de página </button>

                    </a>

                    <button id="cambioColor" value="Pinchame y veras" onclick="Color()" > Cambio de color </button>

                    <div>
                        
                        <button id="Fondo" value="Pinchame ahora" onclick="Fondo()"> Cambio de fondo </button>
                    
                    </div>
                
                </footer>

            </div>



        </body>
        
            <script src="scripts/action.js"></script>
</html>