<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Lista Adultos</title>
            <link rel="stylesheet" href="estilos/estilos4.css">
        </head>

        <body>

            <header>

                <h1> Lista Adultos </h1>
                
            </header>

            <div class="Flexbox">

                <div>

                    <a href="/novelas"> Novelas </a>

                </div>

                <div>

                    <a href="/leyendas"> Leyendas </a>

                </div>

            </div>
        
   

            <footer>

                <a href="/">

                    <button> Regreso de página </button>

                </a>

            </footer>


        </body>


</html>