<!DOCTYPE html>
  <html lang="en">

      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista Niños</title>
        <link rel="stylesheet" href="estilos/estilos2.css">
      </head>

  
    <body>

      <div class="modificacionCuerpo">

        <header class="letrita">

             <h1> Lista Niños </h1>

          <div class="flexbox">

            <ul>

              <a href="/cuentosInfantiles">

                <li> Cuentos </li>

              </a>

              <a href="/fabulas">

                <li> Fábulas </li>

              </a>

            </ul>

          </div>

        </header>

        <footer>

          <a href="/">

            <button> Regresar a la pagina principal </button>

          </a>

        </footer>

      </div> 

    </body>


</html>