<!DOCTYPE html>
  <html lang="en">

    <head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{titulo}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="estilos/estilos.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
      crossorigin="anonymous">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      
    </head>

    

    <body class="col-sm-12">


      <header>

          <nav class="navbar navbar-dark" style="background-color: #A9CCE3;"> Objetivo </nav>

          <nav class="navbar navbar-dark" style="background-color:  #EB984E;"> Nosotros </nav>

          <nav class="navbar navbar-light" style="background-color: #B2BABB;"> Contáctanos </nav>

        <section class="col-sm-12">

          <nav class="navbar navbar-expand-lg navbar-light">

            <div class="container-fluid">
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <aside>

                    <li class="nav-item">

                      <a class="nav-link active" style="color: grey;"aria-current="page" href="http://localhost:3000/precios"> Precios </a>
                            
                    </li>

                  </aside>

                  <section class="col-sm-12">

                    <li class="nav-item dropdown; col-sm-12" style="color: grey;">

                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        Clasificación de nuestros libros

                      </a>

                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li>

                          <a class="dropdown-item" href="/listaNinos.hbs"> Lista Niños </a>

                        </li>
                                
                        <li>

                          <hr class="dropdown-divider">

                        </li>

                        <li>

                          <a class="dropdown-item" href="/listaAdolescentes.hbs"> Lista Adolescentes </a>

                        </li>

                        <li>

                          <hr class="dropdown-divider">

                        </li>

                        <li>

                          <a class="dropdown-item" href="/listaAdultos.hbs"> Lista Adultos </a>

                        </li>

                      </ul>

                    </li>

                  </section>
                          
                     
                </ul>
                      
      
                <form class="d-flex">

                  <div>

                    <input class="form-control me-2" type="search" placeholder="Buscar Aqui" aria-label="Buscar Aqui">

                  </div>

                  <button class="btn btn-outline-dark"  type="submit"> Buscar </button>
            
                </form>

              </div>

            </div>

          </nav>

        </section>  

        <br>

          <div class="modificacionCabecera">
    
            <div>

              <h1>
              
                <strong> Bienvenid@ a mi página web </strong>

              </h1>

            </div>

          </div>


          <div class="libroEdad">

            <img src="img/Texto.gif">

          </div>

      </header>








      <div class="modificacionCuerpo">


        <div class="menuSuperior">
          
          <div>

            <ul>

              <li>

                <a href="/listaNinos"> Niños </a>

              </li>

              <li>

                <a href="/listaAdolescentes"> Adolescentes </a>

              </li>

              <li>

                <a href="/listaAdultos"> Adultos </a>

              </li>

            </ul>

          </div>

        </div>

        <section class="borderIzquierdo">

          <div>
          
            <strong>

              <h3 class="tituloDiv1"> ¿Quiénes somos? </h3>

            </strong>
 
              <p class="Parrafo1">
                
                La librería Sodilibros abrió sus puertas en Cuenca en junio de 1989. Sodilibros está integrada 
                en el grupo de LIBRERÍAS L, asociación formada por las librerías independientes más importantes 
                de todo el mundo. Es una librería especializada en narrativa actual, literatura infantil,
                juvenil y adulta, temas muy entrenido para todo tipo de edad. Desde Sodilibro se intenta prestar
                atención a las editoriales independientes, apoyándolas en su esfuerzo por difundir la cultura  
                que se esta perdiendo en la actualidad.
              
              <p>  

              <section class="subtituloPuntos">

                  <strong> Entre los servicios que la librería ofrece se encuentran: </strong>

                <section class="Parrafo2">
                
                    <p> - Tarjeta de fidelización para los clientes </p>

                    <p> - Información bibliográfica </p>

                    <p> - Atención a bibliotecas, universidades, <section class="Espaciado1"> centros de enseñanza y otras <section class="Espaciado2"> instituciones </section> </section> </p>

                  <section class="Espaciado3">

                    <p> - Solicitud y pedido bajo demanda <section class="Espaciado4"> de libros </section> </p>

                    <section class="Parrafo3">

                      <p> - Importación de libros del <section class="Espaciado5"> extranjero </section> </p>

                      <p class="Parrafo4"> - Envíos a cualquier parte <section class="Espaciado6"> del mundo </section> </p>

                      <p class="Parrafo5"> - Cuenta de cliente </p>

                    </section>  

                  </section>  

                </section>  

              </section>

              <strong>
               
                <h3 class="tituloDiv2"> Objetivo </h3>

              </strong>  

                <p class="Descripcion1">

                  Nuestra empresa tiene como objetivo llegar a más personas a través de libros entrenidos que 
                  pueden generar miedo, drama, intriga y hasta entretenerte gracias 
                  
                </p>

              <strong>
               
                <h3 class="tituloDiv3"> Misión </h3>
  
              </strong>  
  
                <p class="Descripcion2">
  
                  Nuestra empresa tiene como misión garantizar la calidad que tienen nuestros libros y satisfacer 
                  la necesidad de ti como cliente 
                    
                </p>

          </div> 
            
        </section>

        <section class="borderDiv">

            <h3 class="Subtitulo">
            
              <strong> Clasificación de nuestros libros </strong>
                
            </h3>

          <div class="flexbox">

            <a href="/cuentosInfantiles">

              <div> Cuentos Infantiles </div>

            </a>

            <a href="/novelas">

              <div> Novelas </div>

            </a>

            <a href="/fabulas">

              <div> Fabulas </div>

            </a>

            <a href="/leyendas">

              <div> Leyendas </div>

            </a>

            <a href="/obrasLiterarias">

              <div> Obras Literarias </div>

            </a>

          </div>

            <img class="imagenGif" src="img/LibroAnimado.gif">

        </section>

        <section class="borderDerecho">
          
          <div class="parrafoDerecho">

            <p>
    
              La lectura es una de las piedras angulares para la adquisición de conocimiento. 
              Leer, la lectura, es una de las mejores habilidades que podemos adquirir. 
              Ella nos acompañará a lo largo de nuestras vidas y permitirá que adquiramos 
              conocimiento, y que entendamos el mundo y todo lo que nos rodea. También que podamos
              viajar a cualquier sitio sin desplazarnos a ningún lugar o que podamos ser la 
              persona que queramos ser por un momento. Y es que leer nos abre las puertas del 
              conocimiento y da alas a nuestra inspiración e imaginación.
              Esta habilidad transferida es más que necesaria. La lectura marcará e influenciará 
              nuestra forma de ser y, por lo tanto, nuestras vidas. Desde bien pequeños nos enseñan
              las letras y palabras en la encomiable (y necesaria) acción de la enseñanza. Todos somos 
              capaces de recordar esos primeros momentos de lectura y quién estaba a nuestro lado para
              enseñarnos (profesores, familiares…), sin llegar a darnos cuenta de la importancia que 
              ello tenía.
    
            </p> 
    
          </div>

        </section>

      
        

        <section class="Carrousel">

          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner">

              <div class="carousel-item active">

                <img src="img/Librocorrousel1.jpg" class="d-block w-100" alt="libroBrilloso">

              </div>

              <div class="carousel-item">

                <img src="img/Librocorrousel2.jpg" class="d-block w-100" style="height: 262px;" alt="Manzana">

              </div>

              <div class="carousel-item">

                <img src="img/Librocorrousel3.jpg" class="d-block w-100" style="height: 262px;" alt="libroAbecedario">

              </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">

              <span class="carousel-control-prev-icon" aria-hidden="true"></span>

              <span class="visually-hidden"> Anterior </span>

            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">

              <span class="carousel-control-next-icon" aria-hidden="true"></span>

              <span class="visually-hidden"> Siguiente </span>

            </button>

          </div>

        </section>

        <div class="borderFooter">
          
          <div>

              <h4 class="tituloContactanos"> Contáctanos </h4>

            <section>

              <ul class="listaCuerpo col-lg-12 col-md-4">
            
                <li class="col-lg-12">

                  <a class="iconFacebook" href="https://www.facebook.com/sodilibro/"><i class="fab fa-facebook-f"></i></a>

                </li>

                <li>

                  <a class="iconInstagram" href="https://www.instagram.com/sodilibro/"><i class="fab fa-instagram"></i></a>

                </li>

                <li>

                  <a class="iconTwitter" href="https://twitter.com/sodilibro"><i class="fab fa-twitter"></i></a>

                </li>

                <li>

                  <a class="iconWhatsaap" href="http://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a>

                </li>

                <li>

                  <a class="iconCorreo" href="http://hotmail.com"><i class="fas fa-envelope"></i></a>

                </li>

              </ul>

            </section>


              <footer class="modificacionFooter">

                <article class="col-sm-12"> Gracias a ti estamos superando las ventas en nuestros libros </article>
                <p class="col-sm-12"> Gracias por visitarnos y preferirnos, también visítanos </p>
                <section class="col-sm-12"> en nuestras redes sociales y correo electrónico. </section>

              </footer>

          </div>
          
        </div>

      </div>

    </body>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>
